			:root {
  --main-text: #333;
  --main-bg: #f4f4f4;
  --main-btn: #F2F2F2;	
				--main-header:rgba(255,255,255,.72);
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #ddd;
    --main-bg: #333;
  --main-btn: #F2F2F2;	
	  --main-header:rgba(29, 29, 31, 0.72);
	  --main-btn: #6e6e6e;				
  }
}
 
            body{
            font-family: Arial, sans-serif;
            color: var(--main-text);
            background-color: var(--main-bg);
            transition: .5s;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
            touch-action: pan-x pan-y;
            }
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
	    opacity: 0; /* 初期状態は透明 */
    z-index: -10;
}

.light-mode {
    background-image: url('light-image1.jpg'); /* ライトモードの画像 */
    filter: blur(10px);
}

.dark-mode {
    background-image: url('dark-image1.jpg'); /* ダークモードの画像 */
    filter: blur(10px);
}
.nav {
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    text-align:center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    position: absolute;
	top:0;
    right: 0;
}



.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.menu-toggle:checked + .menu-icon + .menu {
    display: flex;
}

/* デスクトップ用スタイル */
@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        box-shadow: none;
    }

    .menu li {
        border-bottom: none;
    }

    .menu li a {
        padding: 10px 15px;
    }
}

button {
    font-size: 14px;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease forwards;
	z-index:1000;
}

.popup {
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    padding: 0;
    text-align: center; /* テキストを中央揃え */
    animation: slideUp 0.3s ease forwards;
    overflow: hidden;
		z-index:1000;
	color:Black;
}

.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-radius: 15px 15px 0 0;
    position: relative; /* ボタンの配置用にrelative設定 */
}

.popup-header h2 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.popup-header button {
    position: absolute !important; /* 右上に固定 */
    right: 50px !important;
    background-color: transparent !important;
    border: none !important;
    color: #007bff !important;
    font-size: 14px !important;
    cursor: pointer !important;
    padding: 0 0 !important;
   border-radius: 0 !important;
   box-shadow: 0 0 10px rgb(0 0 0 / 0%) !important;
}
.popup-header button:hover{
	    position: absolute !important; /* 右上に固定 */
    right: 50px !important;
    background-color: transparent !important;
    border: none !important;
    color: #007bff !important;
    font-size: 14px !important;
    cursor: pointer !important;
    padding: 0 0 !important;
   border-radius: 0 !important;
   box-shadow: 0 0 10px rgb(0 0 0 / 0%) !important;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    width: 100%; /* ポップアップの端まで線を伸ばす */
}

.popup-content {
    margin: 0;
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center; /* テキストを中央揃え */
}

.popup-content p {
    margin: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

            header{
        -webkit-backdrop-filter:saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
            color: var(--main-text);
            background-color: var(--main-header);
 position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  z-index: 999;
            display: flex;
    align-items: center;
        　　box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
            background-color: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
	animation: fadeOut 1.5s 2.5s forwards;
	z-index:2000;
}

@keyframes 

fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading__logo {
  opacity: 0;
  animation: logo_fade 2s 0s forwards;
  width: 175px;
}

@keyframes logo_fade {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
  }
}
            main {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
		    z-index:5;
 }
			button {
  color: var(--main-text);
  background-color: var(--main-btn) !important;
  transition: .3s;
				max-width:80%;
				border: none !important;
				  outline: none;
			}
			button:hover {
				background-color:#A4A4A4 !important;
				color:#fff !important;
			}
.header-content {
    display: flex;
}

.title {
	margin: 5%;
	font-size: 1.5em;
	white-space: nowrap;
}
.header-image {
    max-width: 50px; /* 画像の最大幅を指定 */
    height: 50px; /* 画像のアスペクト比を維持 */
    padding: 5px;
}

.update-date {
    margin: 0;
    font-size: 0.9em;
	padding-top:15px;
	white-space: nowrap;
}
        .scbg {
            text-align: center;
	            color: var(--main-text);
            background-color: var(--main-bg);
	      z-index: -1;
	width:100%;
	height:100%;
        }
.scbg{
		            color: var(--main-text);
            background-color: var(--main-bg);
	      z-index: -1;
	width:100%;
	height:100vh;
}
        .quiz-container, .screen button {
            background-color: #fff;
            padding: 20px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        .choices button {
            display: block;
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            background-color: #ddd;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .choices button:hover {
            background-color: #ccc;
        }

        #next-btn {
            margin-top: 20px;
            padding: 20px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: none;
        }

        #next-btn:hover {
            background-color: #218838;
        }

        #result-container {
            margin-top: 20px;
            font-size: 18px;
        }

        #result-container img {
            width: 100px;
            height: auto;
            margin-top: 10px;
        }

        #result-screen p {
            font-size: 24px;
            margin-bottom: 20px;
        }

        button {
            padding: 10px;
            margin-top: 20px;
        }

        .choice.disabled {
            pointer-events: none;
            opacity: 0.6;
        }

        #score-chart {
            max-width: 100%;
            max-height: 400px;
            width: 100%;
            height: 100%;
        }

        #progress-bar-container {
            margin-top: 20px;
            width: 100%;
            background-color: #ddd;
            border-radius: 5px;
            height: 20px;
            display: flex;
            align-items: center;
        }

        #progress-bar {
            height: 100%;
            width: 0;
            background-color: #28a745;
            border-radius: 5px;
        }

        #progress-info {
            margin-left: 10px;
            font-size: 18px;
        }
			#question {
				max-width:80%;
			}
			#answersection {
				  color: var(--main-text);
			      background-color: var(--main-bg);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* 好みの幅 */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* 他の要素の上に表示するため */
				  display:none;
                  border-radius: 10px;
			}
			#answerbg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明に */
  z-index: 999;
				display:none;
			}
			/* リセットCSS */
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* アコーディオンメニュー全体のサイズ・位置 */
.ac {
  width: 50vh;
  max-width: 600px;
  margin: 0 auto;
  margin-top:30%;
}

/* クリック領域 */
.ac-parent {
  height: 50px;
  border-bottom: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

/* クリックしたら表示される領域 */
.ac-child {
  display: none;
  text-align: center;
}
      .ac-parent {
	position: relative;  /* 追加 */
	height: 50px;
	border-bottom: 1px solid #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

/* ①プラスの横線 */
.ac-parent:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 24px;
	height: 2px;
	background: #f4f4f4;
	transform: translateY(-50%);
}

/* ②プラスの縦線 */
.ac-parent:after {
	content: "";
	position: absolute;
	top: 50%;
	/* 8px+12px-1px(幅2pxの半分) */
	right: 19px;
	width: 2px;
	height: 24px;
	background: #f4f4f4;
	transform: translateY(-50%);
	transition: .3s;
}

/* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
.ac-parent.open:after {
	top: 25%;
	opacity: 0;
	transform: rotate(90deg);
}
			
			.btn_menu{
				  border-bottom: 0px solid #fff !important;
				width:100% !important;
				margin:0 !important;
				margin-top:0 !important;
				border-radius:0 !important;
				box-shadow:0 0 0px !important;
				border: none;
				
			}
			li{
				border: none;
			}
			a {
  color: var(--main-text);
}

.no-underline {
  text-decoration: none;
}
			.result{
				text-align:center;
				justify-content: center;
			}
			        #iphonePopup {
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 15px;
            text-align: center;
            z-index: 1000;
        }
        #iphonePopup button {
            margin-top: 10px;
            padding: 10px 20px;
            background-color: white;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
		
button {
    font-size: 14px;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease forwards;
}

.popup {
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    padding: 0;
    text-align: center; /* テキストを中央揃え */
    animation: slideUp 0.3s ease forwards;
    overflow: hidden;
}

.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-radius: 15px 15px 0 0;
    position: relative; /* ボタンの配置用にrelative設定 */
}

.popup-header h2 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.popup-header button {
    position: absolute; /* 右上に固定 */
    right: 50px;
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 14px;
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    width: 100%; /* ポップアップの端まで線を伸ばす */
}

.popup-content {
    margin: 0;
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center; /* テキストを中央揃え */
}

.popup-content p {
    margin: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
